<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>学IT - 后台管理系统</title>
  <?php include '/views/common/css.html'; ?>
</head>
<body>

<!-- 侧边栏 -->
<?php include '/views/common/aside.html'; ?>
<!-- 主体 -->
<div class="main">
  <div class="container-fluid">
    <!-- 头部 -->
    <?php include '/views/common/header.html'; ?>
    <div class="body teacher" id="teacher_info">
      <!-- 面包屑 -->
    </div>
  </div>
</div>


<script type="text/html" id="teacher_edit">

  <ol class="breadcrumb">
    <li><a href="/teacher/list">讲师管理</a></li>
    <li class="active">讲师编辑</li>
  </ol>
  <div class="teacher-add">
    <form action="" class="form-horizontal col-md-offset-2" id="form">
      <div class="form-group">
        <label class="col-md-3 control-label">姓名</label>
        <div class="col-md-4">
          <input type="text" class="form-control input-sm" placeholder="讲师名称" value="{{tc_name}}" name="tc_name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">入职时间</label>
        <div class="col-md-4">
          <input type="text" class="form-control input-sm datepicker" value="{{tc_join_date}}" name="tc_join_date">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">类型</label>
        <div class="col-md-2">
          <select  class="form-control input-sm">
            <option value="" {{tc_type=="1"?'selected':""}}>讲师</option>
            <option value="" {{tc_type=="0"?'selected':""}}>管理员</option>
          </select>
        </div>
        <input type="hidden" name="tc_type" value="{{tc_type}}">
        <input type="hidden" name="tc_id" value="{{tc_id}}">
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">性别</label>
        <div class="col-md-4">
          <label class="radio-inline">
            <input type="radio" name="tc_gender" value="0" {{tc_gender=="0"?'checked':""}}> 男
          </label>
          <label class="radio-inline">
            <input type="radio" name="tc_gender" value="1" {{tc_gender=="1"?'checked':""}}> 女
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-7">
          <a href=javascript:; class="btn btn-success btn-sm pull-right tianjia"> 修 改 </a>
        </div>
      </div>
    </form>
  </div>

</script>
<script type="text/html" id="teacher_add">
  <ol class="breadcrumb">
    <li><a href="/teacher/list">讲师管理</a></li>
    <li class="active">讲师添加</li>
  </ol>
  <div class="teacher-add">
    <form action="" class="form-horizontal col-md-offset-2" id="form">
      <div class="form-group">
        <label class="col-md-3 control-label">姓名</label>
        <div class="col-md-4">
          <input type="text" class="form-control input-sm" placeholder="讲师名称" name="tc_name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">密码</label>
        <div class="col-md-4">
          <input type="password" class="form-control input-sm" name="tc_pass">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">入职时间</label>
        <div class="col-md-4">
          <input type="text" class="form-control input-sm datepicker" name="tc_join_date">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">类型</label>
        <div class="col-md-2">
          <select class="form-control input-sm" name="tc_type">
            <option value="1">讲师</option>
            <option value="0">管理员</option>
          </select>

        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">性别</label>
        <div class="col-md-4">
          <label class="radio-inline">
            <input type="radio" name="tc_gender"  value="0" checked> 男
          </label>
          <label class="radio-inline">
            <input type="radio" name="tc_gender" value="1"> 女
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-7">
          <a href="javascript:;" class="btn btn-success btn-sm pull-right tianjia"> 添 加 </a>
        </div>
      </div>
    </form>
  </div>
</script>


<?php include '/views/common/js.html'; ?>
<script>
  require(['dist/js/teacher/add.min']);
</script>
</body>
</html>